.login-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: rgb(116, 135, 116); */
  height: 100vh;
  padding: 100px 200px;
}
.login-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}
.login-component {
  display: flex;
  align-items: center;
  background-color: rgb(250, 250, 250);
  height: 500px;
  padding: 50px;
  border: 3px solid rgb(249, 248, 248);
  border-radius: 8px;
}
.button-container {
  display: flex;
  height: 40%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.bar {
  width: 85px;
  height: 1px;
  background-color: rgb(180, 180, 180);
}
.button-container Button {
  width: 100%;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons p {
  color: rgb(170, 169, 169);
}

.hero {
  /* background-color: rgb(248, 180, 53); */
  height: 80vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero h1 {
  color: rgb(36, 36, 36);
  font-size: 100px;
  letter-spacing: -1.6px;
  font-family: 'Work Sans', sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45pt;
  /* background: rgb(30, 219, 30); */
}
.home-button {
  padding-left: 2%;
}

.title{
  display:flex;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 58px;
}

.post-button {
  padding-right: 2%;
}

.post-container {
  /* background-color: lightblue; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.post{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.chakra-card, .css-1y1kths{
  width: 75%;

}
